.features {
  width: 90%;
  margin: auto;
  background: #16a34a;
  padding: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  color: rgb(33, 28, 28);
}

.feature-card {
  text-align: center;
}

.feature-card h3 {
  margin-bottom: 10px;
}